
@{
    ViewBag.Title = "ManageNotifications";
}
 
 
<div class="col-lg-4 col-sm-6 col-xs-12" style="cursor:pointer" onclick="window.location = '/Setting/AddNotification'">
    <div class="well bg-magenta bordered-left bordered-green">
        <h4 class="block">@Localization.getString("Create Notification")</h4>
        <p>
            @Localization.getString("Create Notification")
        </p>
    </div>
</div>

<div class="col-lg-4 col-sm-6 col-xs-12" style="cursor:pointer" onclick="window.location = '/Setting/AddRoleNotification'">
    <div class="well bg-lightred bordered-left bordered-green">
        <h4 class="block">@Localization.getString("Assign Notification")</h4>
        <p>
            @Localization.getString("Assign Notification")
        </p>
    </div>
</div>


