@model MvcSiteMapProvider.Web.Html.Models.SiteMapTitleHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.CurrentNode != null)
{
    <div class="header-title">
        <h1>
            @Model.CurrentNode.Title
            @if (!String.IsNullOrEmpty(Model.CurrentNode.Description))
            {
                <small>
                    <i class="fa fa-angle-right"></i>
                    @Model.CurrentNode.Description
                </small>
            }
        </h1>
    </div>
}