@model SmartCattle.Web.Controllers.CattleActivityviewModel
@using SmartCattle.DomainClass
@using Newtonsoft.Json;
@using System.Threading;

<style>
    .white-boarder-10 {
        background-color: white;
        height: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .blue-title-bar {
        background-color: #2dc3e8;
        height: 35px;
    }

    #area-chart,
    #line-chart,
    #bar-chart,
    #stacked,
    #pie-chart {
        min-height: 250px;
    }
</style>

<input type="hidden" value="@ViewBag.MAC" id="MACNumber" />

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 curve-10" style="background-color:white;margin-top:10px;margin-left:10px;width:100%">
    <div id="map_canvas" class="curve-10" style="background-color: white; height: 370px; margin-bottom: 15px;"></div>
</div>
<div class="white-boarder-10"></div>

<div class="sidebar menu" style="width:0px">
    <ul class="list">
        <li class="active">
        </li>
    </ul>
</div>

<script src="~/assets/Thems/AdminBSB/plugins/jquery/jquery.min.js"></script>
<script src="~/assets/Thems/AdminBSB/plugins/bootstrap/js/bootstrap.js"></script>
<script src="~/assets/Thems/AdminBSB/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/assets/Thems/AdminBSB/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="~/assets/Thems/AdminBSB/plugins/node-waves/waves.js"></script>
<script src="~/assets/Thems/AdminBSB/plugins/raphael/raphael.min.js"></script>
@*<script src="~/assets/Thems/AdminBSB/plugins/morrisjs/morris.js"></script>*@
@*<script src="~/assets/Thems/AdminBSB/js/admin.js"></script>*@
@*<script src="~/assets/Thems/AdminBSB/js/demo.js"></script>*@
<script src="~/assets/Thems/LoadingDialog/bootstrap-waitingfor.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyDrbXqxXPH_oWjPIuM8AikKdIkKKR01Fh8" type="text/javascript"></script>

<script>
    
    InitialFreeStallMap();

    waitingDialog.show('@Localization.getString("Cattle_Position_Loading")', {
        headerText: '@Localization.getString("Cattle_Position")', dialogSize: 'sm', progressType: 'danger'
    });

    function InitialFreeStallMap()
    {
        var MACNumber = document.getElementById('MACNumber').value;
        $.post("/Cattle/CattlePosition",
        {
            MAC: MACNumber
        },
        function (CattleLocation) {
            waitingDialog.hide();
            if (CattleLocation !== "NaN")
            {
                var CattleLat = CattleLocation.split("_");
                $.post("/FreeStallPosition/getMapWithCattlePosition",
                {
                    MAC: MACNumber,
                    FreeStallId: 1
                },
                function (data) {
                    DrawMap(data.Map, data.CenterMap.Lat, data.CenterMap.Lng, data.ZoneId, data.MacList, data.CattlePosition.Lat, data.CattlePosition.Lng);
                });
            }
            else
            {

            }
        });

    }

    var map;
    var markerList = [];
    function DrawMap(data, center_lat, center_lng, zoneId, sensor_position_list, CattlePosition_Lat, CattlePosition_Lng) {
        window.setInterval(CheckCattlePosition, 15000);
        if (sensor_position_list.length != 0) {
            var myLatLng = new google.maps.LatLng(center_lat, center_lng);
            map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 18,
                center: myLatLng,
                scrollwheel: true,
                panControl: true,
                zoomControl: true,
                scaleControl: true,
                disableDefaultUI: true
            });
            var i;
            var marker;

            var x_offset = 200;
            var y_offset = 100;
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(CattlePosition_Lat, CattlePosition_Lng),
                map: map,
                icon: pinSymbol('red')
            });
            markerList.push(marker);
            for (var i = 0; i < data.length; i++) {
                map.data.addGeoJson(data[i]);
            }
            map.data.setStyle(function (feature) {
                var SD_NAME = feature.getProperty('name');
                var SD_FILL = feature.getProperty('fill');
                if (SD_NAME == zoneId) {
                    color = "#ff00ba";
                }
                else {
                    color = "#0cff00";
                }
                return {
                    fillColor: color,
                    strokeWeight: 1
                }
            });
        }

    }

    function pinSymbol(color) {
        return {
            path: 'M125 410 c-56 -72 -111 -176 -120 -224 -7 -36 11 -83 49 -124 76 -85 223 -67 270 31 28 60 29 88 6 150 -19 51 -122 205 -148 221 -6 3 -32 -21 -57 -54z m110 -175 c35 -34 33 -78 -4 -116 -35 -35 -71 -37 -105 -7 -40 35 -43 78 -11 116 34 41 84 44 120 7z',
            fillColor: color,
            fillOpacity: 0.8,
            scale: 0.1,
            strokeColor: color,
            strokeWeight: 1,
            anchor: new google.maps.Point(185, 500)
        };
    }

    function CheckCattlePosition()
    {
        debugger;
        var MACNumber = document.getElementById('MACNumber').value;
        for (var i = 0; i < markerList.length; i++) {
            markerList[i].setMap(null);
        }
        markerList = [];
        $.post("/FreeStallPosition/getMapWithCattlePosition",
        {
            MAC: MACNumber,
            FreeStallId: 1
        },
        function (data) {
            debugger;
            var myLatlng = new google.maps.LatLng(data.CattlePosition.Lat, data.CattlePosition.Lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                icon: pinSymbol('red')
            });
            marker.setPosition(myLatlng);
            markerList.push(marker);
        });
    }

</script>